 <nz-table nzBordered nzTableLayout="fixed">
      <thead>
        <tr>
          <th>订单号</th>
          <th>下单时间</th>
          <th>商品</th>
          <th>社区</th>
          <th>订单金额</th>
          <th>订单状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of listOfData">
          <td>{{order.id}}</td>
          <td>{{order.createdAt}}</td>
          <td>
            <span *ngFor="let item of order.items">
              {{item.name}} x {{item.number}}
              <br>
            </span>
          </td>
          <td>{{orgMap.get(order.orgId)}}</td>
          <td>¥{{order.amount}}元</td>
          <td>
            {{statusMap.get(order.orderStatus)}}
          </td>
          <td>
            <button nz-button nzType="primary" *ngIf="order.orderStatus == 20 && role == 3" (click)="deliver(order.id)">发货</button>
            <button nz-button nzType="primary" *ngIf="order.orderStatus == 30 && role == 2" (click)="pickup(order.id)">取货</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  