<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>华农采购</h1>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="管理中心" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter *ngIf="role === 4">
              <a routerLink="user" >用户管理</a>
            </li>
            <li nz-menu-item nzMatchRouter *ngIf="role === 3">
              <a routerLink="item">商品管理</a>
            </li>
            <li nz-menu-item nzMatchRouter *ngIf="role === 4">
              <a routerLink="stock">库存管理</a>
            </li>
            <li nz-menu-item nzMatchRouter *ngIf="role !== 4">
              <a routerLink="order">订单管理</a>
            </li>
            <li nz-menu-item nzMatchRouter *ngIf="role == 4">
              <a routerLink="transport">调配管理</a>
            </li>
            <li nz-menu-item nzMatchRouter *ngIf="role == 3">
              <a routerLink="trans-in">调配中心</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="个人中心" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="profile">账号管理</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
          <a nz-dropdown [nzDropdownMenu]="menu" class="right-menu">
            <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="user[0].imgUrl" *ngIf="user[0] !== undefined"></nz-avatar>
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <a routerLink="profile">个人中心</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/login">退出登陆</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  